*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
}
.sidebar-wrapper{
    height: 100vh;
    width: 13vw;
    background-color: pink;
}
.sidebar-wrapper .sidebar {
    padding-left: 20px;
    padding-top: 30px;
    
}
.sidebar ul{
    list-style: none;
    font-family: sans-serif ;
}
.sidebar ul li{
    margin-bottom: 60px;
    margin-right: 20px;
    padding: 20px;
    
}
.sidebar-wrapper .sidebar .main-name{
    font-weight: bold;
    

}
.main-name{
    display: flex;
    align-items: center;

}
.button-menu {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:10px ;
    
}
.button-menu button img{
    width: 2vw;
    height: 4vh;
    
}
    
.sidebar ul li:hover{
    
    background-color: white;
    cursor: pointer;
}
.sidebar-wrapper .sidebar ul .main-name:hover{
    background-color: pink;

}
.search-wrapper {
    display:flex;

}
.nav-wrapper{
   background-color: red;
   padding-right: 100vw;
   margin-bottom: 85vh;

}
.navbar{
    margin-top: 45px;
    margin-left: 40px;
}
.icon-sbar img{
    width: 20px;
    height: 20px;
}